<html lang="en">
    <head>
        <script src="https://d3js.org/d3.v4.js"></script>
    </head>
    <body>
        <div>
            <h1>Current state</h1>
            <p id="state_active">Active: {{ current_state["active"] }}</p>
            <p id="state_triggered">Triggered: {{ current_state["triggered"] }}</p>
            <button id="btn_enabledisable">Enable</button>
        </div>
        <div>
            <div id="graph"></div>
            <div id="graph2" style="display: none;"></div>
        </div>

        <script type="text/javascript">
            window.addEventListener("load", () => {

                const state_active = document.getElementById("state_active");
                const state_triggered = document.getElementById("state_triggered");
                const btn_enabledisable = document.getElementById("btn_enabledisable");

                var state = {"active": false, "triggered": false};

                function update_btn_text()
                {
                    btn_enabledisable.textContent = state["active"] ? "Disable" : "Enable";
                }

                btn_enabledisable.addEventListener('click', async function enabledisable()
                {
                    const action = state["active"] ? 'disable' : 'enable';

                    (await fetch('/state', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({'action':action})
                    })).text().then(() => {});
                });

                update_btn_text();

                // Periodically update the device status
                setInterval(async () => {
                    (await fetch('/state', {method:'GET'})).json().then(data => {
                        console.log(data);
                        state = data;
                        state_active.textContent = "Active: " + data["active"];
                        state_triggered.textContent = "Triggered: " + data["triggered"];
                        update_btn_text();
                    });
                }, 1000);

            });
        </script>

        <script type="text/javascript">
            var margin = {top: 10, right: 30, bottom: 30, left: 60};
            var width = 800 - margin.left - margin.right;
            var height = 400 - margin.top - margin.bottom;

            function draw_graph() {

                document.getElementById("graph2").innerHTML = '';
                var svg = d3.select("#graph2").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                d3.csv("/graph_data",
                    function(d){
                        return { ts: new Date(parseInt(d.ts)), a: d.a, m: d.m }
                    },

                    function(data) {
                        // X axis
                        var x = d3.scaleTime()
                            .domain(d3.extent(data, function(d) { return d.ts; }))
                            .range([ 0, width ]);
                        svg.append("g")
                            .attr("transform", "translate(0," + height + ")")
                            .call(d3.axisBottom(x));

                        // Y axis
                        var y = d3.scaleLinear()
                            .domain([0, d3.max(data, function(d) { return +d.m; })])
                            .range([ height, 0 ]);
                        svg.append("g")
                            .call(d3.axisLeft(y));

                        // Add the lines
                        svg.append("path")
                            .datum(data)
                            .attr("fill", "none")
                            .attr("stroke", "steelblue")
                            .attr("stroke-width", 1.5)
                            .attr("d", d3.line()
                                .x(function(d) { return x(d.ts) })
                                .y(function(d) { return y(d.m) })
                            )
                        svg.append("path")
                            .datum(data)
                            .attr("fill", "none")
                            .attr("stroke", "red")
                            .attr("stroke-width", 1.5)
                            .attr("d", d3.line()
                                .x(function(d) { return x(d.ts) })
                                .y(function(d) { return y(d.a) })
                            )
                    }
                )

                var oldsvg = document.getElementById('graph').firstChild;
                var newsvg = document.getElementById('graph2').firstChild;
                if(oldsvg == null) {
                    var fakesvg = document.createElement("svg");
                    oldsvg = document.getElementById('graph').appendChild(fakesvg);
                }

                oldsvg.parentNode.replaceChild(newsvg, oldsvg);
            }

            draw_graph();
            setInterval(draw_graph, 1000);
        </script>

    </body>
</html>
